

/* Declare heights because of positioning of img element */
.hide {
    display: none;
}

.symbol {
    width: 350px;
    height: auto;
    }

.table {
    margin-top: 20px;
}
.solupp {
    width: 100px;
    height: 100px;
    position:relative;
    bottom: -150px;
    left: 12%;
    z-index: -1;
    
}
.moln {
    width: 200px;
    height: auto;
    position:relative;
    left: -10%;
    z-index: 1;
    bottom: -170px;
    
}
.left{
    float: left;
}

.right {
	float: right;
}
#map {
        width: 100%;
        height: 400px;
        background-color: grey;
}

h1 h2{
    margin-top: 20px; 
    
}

h3{
    text-align: center;
}
.space {
    padding-top: 20px;
    margin-top: 20px;
}

.valign{
    vertical-align: middle;
}
li {
    padding-top: 20px;
    margin-top: 20px;
}
.stats{
    width: auto;
    height: 450px;
    background-color: #89a7f8;
    z-index: 1;
    
}
.center{
    margin:0 auto;
}
.container {
    padding-top: 20px;
    
}
.jumbotron {
	margin-top: 60px;
    opacity: 0.9;
}
.text-color{
    color: #898787;
}
.hovertext {
    display: none;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    position: absolute; 
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: black;
}



.bg-grey{
    background-color: #363636;
}


.inline{
    display: inline-block;
}

.own{
    margin-bottom: 20px;
}

body {
  padding : 10px ;
  
}

.nav-tabs {
    color : #646464;
    font-weight: bold;
    padding : 5px 15px;
}
.nav-tabs >li >a {
    color : #2e2e2e;
    font-weight: bold;
    
}

/* remove border radius for the tab */

#tab1 .nav-pills > li > a {
  border-radius: 3px;
}

    /*Footer */

.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 20px;
	margin-top: 80px;
}

.footer .footer-slogan{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/*media queries to decrease footer at smaller screens*/

@media (max-width: 991px) {

	.footer{
		padding: 10px;
	}

	.footer .footer-slogan{
		font-size: 18px;
	}

	.footer .footer-company-name{
		font-size: 12px;
	}

	.footer .footer-links{
		font-size: 14px;
		padding: 15px 0 10px;
	}

	.footer .footer-links a{
		line-height: 1.8;
	}
}


@media (max-width: 375px) {
    
    .footer {
        display: none;
    }






